.cancel_form {
	margin-left: 2px;
}

.container {
	padding-top: 20px;
}

#fancybox-wrap {
	width: 500px !important;
}

.active{
  background-color: #428bca;
  border-color: #428bca;
  color: #fff;
}

.new_form {
  padding-top: 10px;
}

.profile {
  width: 60%;
  padding: 25px;
}

.cv_form {
  margin-top: -10px;
  margin-left: 4px;
}

#upload {
  margin-top: -10px;
}

.password {
  margin-top: 25px;
  padding: 10px;
  border: 1px gray solid;
}

.label_tag {
  padding-top: 10px;
}

#calendar {
  margin-top: 20px;
}